apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-crud-deployment
  labels:
    app: ms-crud
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ms-crud
  template:
    metadata:
      labels:
        app: ms-crud
    spec:
      containers:
      - name: ms-crud
        image: ms-crud:1.0
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "3000"
        - name: MONGODB_URI
          value: "mongodb://admin:password123@mongodb-service:27017/perfiles_db?authSource=admin"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: secret
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5
